<div class="maincontainer">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
        <a class="navbar-brand " href="#">
            <img  src="..\assets\Images\Logo.svg" width="30" height="30" class="d-inline-block align-top" alt="">
           
          </a>
         <a class="navbar-brand headerlogo" href="#">
        <img  src="..\assets\Images\ico_dashboard.svg" width="30" height="30" class="d-inline-block align-top" alt="">
        Dashboard
      </a>
        <a class="navbar-brand headerlogo" href="#">
          <img  src="..\assets\Images\ico_usersheader.svg" width="30" height="30" class="d-inline-block align-top" alt="">
          Users
        </a>
        <a class="navbar-brand headerlogo" href="#">
            <img  src="..\assets\Images\ico_sessionmanager.svg" width="30" height="30" class="d-inline-block align-top" alt="">
            SessionManager
          </a>
          <div class="right">
          <a class="navbar-brand headerlogoright" href="#">
            <img  src="..\assets\Images\ico_notification.svg" width="30" height="30" class="d-inline-block align-top" alt="">
            
          </a>
          <a class="navbar-brand headerlogoright" href="#">
            <img  src="..\assets\Images\ico_user.svg" width="30" height="30" class="d-inline-block align-top" alt="">
            JohnSmith
          </a>
          <a class="navbar-brand headerlogoright" href="#">
            <img  src="..\assets\Images\ico_downarrow.svg" width="30" height="30" class="d-inline-block align-top" alt="">
          </a>
        </div>
      </nav>
    </div> 
<div class="tablecontainer">
        <img class="userimage" src="..\assets\Images\ico_users.svg" >  Users
    <div class="modalbutton">
    <button type="button" class="btn btn-primary adduser" data-toggle="modal" data-target="#exampleModalScrollable">
        ADD USER
    </button>
</div>
       
 <table class="table table-hover">
     <tr>
        <th>FullName</th>
        <th>Email</th>
        <th>RollCode</th>
        <th>Status</th>
     </tr>
     <tr *ngFor="let emp of service.list">
         <td>{{emp.FullName}}</td>
         <td>{{emp.Email}}</td>
         <td *ngIf="emp.RollCode === 1">Admin</td>
         <td *ngIf="emp.RollCode === 2">Executive</td>
         <td *ngIf="emp.Status === 1"><img src="..\assets\Images\ico_active.svg" >&nbsp;Active</td>
         <td *ngIf="emp.Status === 2"><img src="..\assets\Images\ico_pending.svg" >&nbsp;Pending</td>
         <td *ngIf="emp.Status === 3"><img src="..\assets\Images\ico_inactive.svg" >&nbsp;Inactive</td>
         <td><img src="..\assets\Images\ico_edit.svg" ></td>
     </tr>
 </table>
 
</div>


  
  <!-- Modal -->
  <div class="modal fade" id="exampleModalScrollable" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalScrollableTitle">Add user</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <app-add-employeestatus ></app-add-employeestatus>
        </div>
      
      </div>
    </div>
  </div>